# Ignore node_modules (for frontend apps or Node.js-based microservices)
node_modules/
npm-debug.log

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.env
.env

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars.json
.crash.log

# Bicep generated JSON files
**/bicep/*.json

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# VS Code settings and extensions

*.code-workspace

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.bin

# Ignore MacOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db

# Ignore Azure Pipelines YAML artifacts
*.coverage

# Ignore build artifacts
dist/
build/
out/

# Ignore system-specific files
*.log
.idea/
*.iml

# Ignore Python virtual environments
venv/
